.sendForm {
    align-self: flex-end;
    display: grid;
    padding: 10px 10px 0px 10px;
    grid-template-columns: 340px 1fr;


}



.button {
    margin-top: 5px;
    margin-left: 10px;
    font-family: sans-serif;
    height: 30px;
    width: 80px;
    background: white;
    border-radius: 20px;
    color: #2557c4;
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    border: #2557c4 solid 1px;
}

.button:hover {
    background: #2557c4;
    color: white;
}

.button:active {
    background: #3f628c;
}
