.message {
font-size: 13px;
    font-family: 'Quicksand', sans-serif;
    display: grid;
    justify-content: end;
    margin: 0px 5px 0px 10px;
}

.text {
    padding: 5px;
    /*color: #FFFFFF;*/
    border-radius: 15px;
    background: rgba(94, 137, 237, 0.6);

    box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1)

}

.name {
    display: flex;
    flex-direction: row-reverse;
    font-size: 14px;
    font-weight: 600;
}


.time {
    display: flex;
    margin-top: 2px;
    flex-direction: row-reverse;
    font-size: 10px;
    font-weight: 300;
    padding-right: 20px;
}