.header {
    display: flex;
    color: crimson;
    grid-area: h;
    border-radius: 10px;
    background-color:#262828;

}
.header span{
    align-items: center;
    display: flex;
    margin: 0 auto;
    font-size: 40px;
    color: #caa45d;
}
.header img{
    width: 80px;
    border-radius: 35px;
    position: relative;

}