.app-wraper {
    display: grid;
    width: 800px;
    margin: auto;
    font-family: monospace;
  /* font-family: 'Amatic SC', cursive;*/

    grid-template-rows:80px 1fr;
    grid-template-columns: 3fr 10fr;
    grid-gap: 8px;
    grid-template-areas:
                            "h h h"
                            "n c c";
}

.app-wraper-content {
    font-family: sans-serif;
    width: auto;
    border-radius: 10px;
    grid-area: c;
}