.app-wraper {
    display: grid;
    width: 1200px;
    margin: auto;
    grid-template-rows:50px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    grid-template-areas:
                            "h h h"
                            "n c c";
}



