body {
  margin: 0;
  font-family: 'Abril Fatface', cursive;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background:#edf2f6;
}

code {
  font-family: 'Abril Fatface', cursive;

}
