.dialogs{
    display: grid;
    grid-template-columns: 150px 1fr;
    padding: 20px;

}
.dialogsItems{
    padding: 10px;
    border-right: solid;
}
.dialog{
    padding: 20px;
}
.dialogsItems .activelink{
    color: #262828;
    border-color: #caa45d;
    border-style: solid;
    padding:10px;
    font-weight:700;
    border-radius: 20px;
    background: #caa45d;
    text-decoration: none;
}
.dialog a{
    padding-left: 10px;
    color:white;/* #caa45d;*/
    text-decoration: none;

}
.mymessage{
    display: grid;
    justify-content: end;
}
.message{
    color: white;
}
.messages .message{
    padding: 0px 0px 10px 20px;

}