.dialogs{
    display: grid;
    grid-template-columns: 150px 1fr;
    padding: 20px;

}
.dialogsItems{
    padding: 10px;
    border-right: solid;
}

.mymessage{
    display: grid;
    justify-content: end;
}
